.infinite-list{
    padding: 64px 0px 0px;
    background: whitesmoke;
    display: flex;
}

.infinite-list .header{
    height: 64px;
    position: fixed;
    top: 0;
    width: 100%;
    background: orange;
    line-height: 64px;
    vertical-align: middle;
    padding-left: 16px;
    font-size: 24px;
    color: white;
    font-family: cursive;
}

.infinite-list .left-panel{
    flex: 4;
}

.infinite-list .work-area{
    background: white;
    flex: 10;
}

.infinite-list .container{
    overflow: auto;
    height: 731px;
}

.infinite-list .wrapper{
    overflow: hidden;
    position: relative;
}

.infinite-list .fab{
    cursor: pointer;
    height: 64px;
    width: 64px;
    position: fixed;
    bottom: 32px;
    right: 32px;
    background: #f5a540;
    box-shadow: 1px 1px 10px -2px black;
    color: white;
    border-radius: 50%;
    display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.infinite-list ul{
    list-style-type: none!important;
}

.infinite-list ul{
    padding-left: 10px;
}

.infinite-list .card{
    padding: 16px;
    display: inline-block;
    background: whitesmoke;
    margin: 8px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 1px 10px -4px slategrey;
    font-size: 14px;
}