.list-row{
    background: #fff;
    font-family: cursive;
    font-weight: bold;
    color: #c37e00;
    font-size: 18px;
    padding: 16px;
    margin: 8px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px -3px black
}